

<form class="register-product-form" novalidate [formGroup]="productForm" (ngSubmit)="saveProduct(productForm)">
    <h4 mdl-card-title-text class="m-b-15" style="display: block;width:100%;">Edit Product</h4>
    <md-input-container class="example-full-width m-b-15">
        <input name="name" mdInput placeholder="Product name" formControlName="name">
        <md-error *ngIf="name.hasError('required')">
            Product name is <strong>required</strong>
        </md-error>
    </md-input-container>
    <br>
    <button type="submit" [disabled]="productForm.invalid" mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple>
        Save
    </button>
</form>