

<div class="container">
    <div class="row">
      <div class="col-4">
        <form class="register-product-form" novalidate [formGroup]="productForm" (ngSubmit)="addProduct(productForm)">
          <mdl-card mdl-shadow="2" class="full-width">

            <mdl-card-title>
              <h2 mdl-card-title-text style="display: block;width:100%;">Add Product </h2>
            </mdl-card-title>
            <mdl-card-supporting-text>
              <md-input-container class="example-full-width">
                <input name="name" mdInput placeholder="Product name" formControlName="name">
                <md-error *ngIf="name.hasError('required')">
                  Product name is <strong>required</strong>
                </md-error>
              </md-input-container>
            </mdl-card-supporting-text>
            <mdl-card-actions mdl-card-border>
              <button type="submit" [disabled]="productForm.invalid" mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple>
                Add
              </button>
            </mdl-card-actions>

          </mdl-card>
        </form>
      </div>
        <div class="col-8">
          
          <mdl-card mdl-shadow="2" class="full-width">
            <mdl-card-title>
              <h2 mdl-card-title-text>Products Available </h2>
            </mdl-card-title>
            <mdl-card-supporting-text class="full-width">
              <div style="overflow-x:hidden" *ngIf="(products$ | async ).list.length > 0">
                <ul class="demo-list-icon mdl-list">
                  <li class="mdl-list__item" 
                    *ngFor="let product of (products$ | async ).list | reverse" 
                    [@anim]="product.state"
                    (click)="deleteProduct(product)">
                    <span class="mdl-list__item-primary-content">
                      <i class="material-icons mdl-list__item-icon">image</i>
                      {{ product.name }} 
                    </span>
                    <span class="mdl-list__item-secondary-action">
                      <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
                        <button md-button title="Delete product"> <i class="material-icons mdl-list__item-icon">delete</i></button>
                      </label>
                    </span>
                  </li>
                </ul>
              </div>
              <div  *ngIf="(products$ | async ).list.length == 0" class="text-center">
                <h5>No products found</h5>
              </div>
            </mdl-card-supporting-text>
          </mdl-card>
        </div>
    </div>
</div>





